body {
  font-size: 14pt;
  margin: 128px 0 0 128px;
  width: 600px;
}



#nav {
  list-style: none;
  padding-left: 0;
}

#nav li {
  display: inline-block;
  margin-right: 8px;
  border: 1px solid #ccc;
  padding: 4px 8px;
}

#nav a {
  text-decoration: none;
}



h1 {
  font-size: 18pt;
}



input[type=submit] {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  
  font-size: 14pt;

  float: right;
}



ol {
  list-style: none;
  padding-left: 0;
}


.question { display: none; }

span.incorrect { color: red; }
span.correct { color: green; }
span:nth-child(3) { float: right; }
.question a {
  display: none;
  margin-top: 16px;
  text-align: right;
}

.information {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 2px 2px 2px #000;
  display: none;
  padding: 16px;
  width: 300px;
}
